@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700&display=swap');

body {
  font-size: $fs-base;
  font-family: 'Noto Sans JP';
}

.heading-primary {
  font-size: $fs-xl;
  font-weight: $fw-light;
}

.heading-secondary {
  font-size: $fs-lg;
  font-weight: $fw-medium;
}

.heading-tertiary {
  font-size: $fs-sm;
  font-weight: $fw-light;
}

.lead {
  margin: 2rem 0;
  font-weight: $fw-medium;
  font-size: $fs-md;
  color: $c-white;
  padding: 0 3rem 1rem;
  border-bottom: 1px solid rgba($color: $c-white, $alpha: 0.65);
}

.caption {
  font-size: $fs-sm;
  font-weight: $fw-light;
}
