// ***** COLORS *****
$c-white: #fff;
$c-black: #000;
$c-red: #fe4e50;
$c-green: #6dd5be;

// ----------------------------------------------

// ***** FONT WEIGHTS *****
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 700;

// ----------------------------------------------

// ***** FONT SIZES *****
$fs-base: 1.6rem;
$fs-xs: 1.5rem;
$fs-sm: 1.7rem;
$fs-md: 2rem;
$fs-lg: 2.8rem;
$fs-xl: 4rem;
