doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Meal Finder
    link(href=require("./favicon.ico"), rel='shortcut icon')
  body
    .container
      h1.heading-primary.title
        i.fas.fa-hat-chef
        | Meal Finder
      form#submit.search
        input#search.search__input(type="text", placeholder="Search for meals or keywords")
        button.btn.btn--search(type="submit")
          i.fas.fa-search
        button#random.btn.btn--random
          i.fas.fa-random
    p#result-heading.lead
    #meals.meals
    #single-meal.meal



